# Python
__pycache__/
*.py[cod]

# Virtual env
.venv/
venv/
env/

# Djangogit rm -r --cached .idea
db.sqlite3
*.log
media/
staticfiles/

# IDE
.idea/
.vscode/


*.pyc
*.pyo
*.pyd

.env
.DS_Store
Thumbs.db
sent_emails/
Screenshot*.png
main.py

requirements.txt
__pycache__/
*.pyc